<div class='description'>
	<h1>Login:</h1>
	<%= form_tag "/auth" do %>
		<p>
			<%= label_tag(:email, "email:") %>
				<br>
			<%= text_field_tag(:email) %>
				<br>
				<br>
			<%= label_tag(:password, "password:") %>
				<br>
			<%= text_field_tag(:password) %>
				<br>
				<br>
			<%= submit_tag("Login") %>
		</p>
	<% end %>
</div>