<div class='description'>
	<h1>Register:</h1>
	<p>Registering an email will allow me to send email notices and updates regarding my job search. All information is securely stored and feel free to opt out anytime!</p>
	<section id="siteseal">
      <script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=ZvW6sWpoFqQoYbURN5rS6QIo9DHivp4z3U2oywCgD9bTdGxBqFl9dDZcxesH"></script>
    </section>
	<%= form_tag "/users" do %>
		<p>
			<%= label_tag(:username, "username:") %>
				<br>
			<%= text_field_tag(:username) %>
				<br>
				<br>
			<%= label_tag(:email, "email:") %>
				<br>
			<%= text_field_tag(:email) %>
				<br>
				<br>
			<%= label_tag(:password, "password:") %>
				<br>
			<%= password_field_tag(:password) %>
				<br>
				<br>
			<%= label_tag(:password_confirmation, "confirm password:") %>
				<br>
			<%= password_field_tag(:password_confirmation) %>
				<br>
				<br>
			<%= submit_tag("Register") %>
		</p>
	<% end %>
</div>