<div class='description'>
	<h1>Profile:</h1>
	<h3>username</h3>
	<p><%= current_user.username %></p>
	<h3>email</h3>
	<p><%= current_user.email %></p>
		<br>

	<% if current_user.admin? %>
		<h3>Registered Users (<%= @users.count %>)</h3>
		<% @users.each do |user| %>
			<div>
				<h1><section><%= user.username %></section></h1>
				<p><section>email: <%= user.email %><section></p>
			</div>
			<br>
		<% end %>
	<% end %>
</div>
