<!DOCTYPE html>
<html>
  <head>
    <title>Phil DeLong: Backend Developer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div align='center'>
          <%= image_tag("profile_pic_crop.png", alt: "Profile Image") %>
        </div>
          <br>
        <% if current_user %>
          <p><%= "Welcome, #{current_user.username}!" %></p>
          <%= link_to "Dashboard", "/#{current_user.slug}/profile"%>
          <%= link_to "Log out", "/logout"%>
            <br>
            <br>
        <% else %>
          <%= link_to "login", "/login"%>
          <%= link_to "register", "/users/register"%>
        <% end %>
        <%= link_to "About", "/"%>
        <%= link_to "Projects", "/projects"%>
        <%= link_to "Resume", "/resume"%>
      </div>


      <div style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; menu
        <h1>Phil DeLong</h1>
      </div>
      <div align='center' id='flash'>
        <% flash.each do |type, msg| %>
          <%= msg %>
        <% end %>
      </div>

      <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "300px";
        }

        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
      </script>
      <br>

    </nav>
    <%= yield %>
  </body>


</html>
