<!DOCTYPE html>
<html>
  <head>
    <title>DelongDev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="master_nav">
      <span align='center' class="link">
        <%= link_to "projects", "/projects" %>
        <%= link_to "background", "/background" %>
        <%= link_to "education", "/education" %>
        <%= link_to "calendar", "/calendar" %>
      </span>

      <div id='profile_image'>
        <%= link_to(image_tag("profile_pic.png", alt: "Profile Image"), "/") %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
