<!DOCTYPE html>
<html>
  <head>
    <title>Phil DeLong: Backend Developer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav>
      <div id="loginSidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeLogin()">&times;</a>

        <div align="center">
          <%= image_tag("profile_pic_crop.png", alt: "Profile Image") %>
        </div>
          <br>

        <% if current_user %>
          <p align="center"><%= "Welcome, #{current_user.username}!" %></p>
          
          <div onclick="closeLogin()">
            <%= link_to "Dashboard", "/#{current_user.slug}/profile"%>
          </div>
          <div onclick="closeLogin()">
            <%= link_to "Log out", "/logout"%>
          </div>
            <br>
            <br>
        <% else %>
          <div onclick="closeLogin()">
            <%= link_to "login", "/login"%>
          </div>
          <div onclick="closeLogin()">
            <%= link_to "register", "/users/register"%>
          </div>
        <% end %>
      </div>

      <div id="nav-links">
        <span id="user-session">
          <% if current_user %>
            <span style="font-size:20px;cursor:pointer" onclick="openLogin()">&#9776; dashboard</span>
          <% else %>
            <span style="font-size:20px;cursor:pointer" onclick="openLogin()">&#9776; login/register</span>
          <% end %>
        </span>

        </span id="social-media-links">
          <a href="https://linkedin.com/in/philjdelong"><%= image_tag("li-logo.png") %></a>
          <a href="https://github.com/philjdelong"><%= image_tag("gh-logo.png") %></a>
          <a href="https://alumni.turing.io/alumni/phil-delong"><%= image_tag("turing-logo.png") %></a>
        </span>
      </div>

      <span align="center" id=nav-title>
        <h1 align="center">Phil DeLong</h1>

        <span class="pure-g">
          <div class="pure-u-1-3"><%= link_to "Home", "/"%></div>
          <div class="pure-u-1-3"><%= link_to "Projects", "/projects"%></div>
          <div class="pure-u-1-3"><%= link_to "Resume", "/resume"%></div>
        </span>

        <span  id="flash">
          <% flash.each do |type, msg| %>
            <p align="center"><%= msg %></p>
          <% end %>
        </span >
      </span>

      <script>
        function openLogin() {
          document.getElementById("loginSidenav").style.width = "210px";
        }

        function closeLogin() {
          document.getElementById("loginSidenav").style.width = "0";
        }
      </script>
        <br>

    </nav>
    <%= yield %>
  </body>
</html>
