<!DOCTYPE html>
<html>
  <head>
    <title>Phil DeLong: Backend Developer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav>
      <div id="loginSidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeLogin()">&times;</a>

        <div align='center'>
          <%= image_tag("profile_pic_crop.png", alt: "Profile Image") %>
        </div>
          <br>

        <% if current_user %>
          <p align='center'><%= "Welcome, #{current_user.username}!" %></p>
          <%= link_to "Dashboard", "/#{current_user.slug}/profile"%>
          <%= link_to "Log out", "/logout"%>
            <br>
            <br>
        <% else %>
          <%= link_to "login", "/login"%>
          <%= link_to "register", "/users/register"%>
        <% end %>
      </div>

      <div id="user_session">
        <% if current_user %>
          <div style="font-size:20px;cursor:pointer" onclick="openLogin()">&#9776; dashboard</div>
        <% else %>
          <div style="font-size:20px;cursor:pointer" onclick="openLogin()">&#9776; login/register</div>
        <% end %>
      </div>

      <span><h1 align='center'>Phil DeLong</h1></span>
    
      <div align='center' class="pure-g">
        <div class="pure-u-1-3"><%= link_to "Home", "/"%></div>
        <div class="pure-u-1-3"><%= link_to "Projects", "/projects"%></div>
        <div class="pure-u-1-3"><%= link_to "Resume", "/resume"%></div>
      </div>

      <div id='flash'>
        <% flash.each do |type, msg| %>
          <p align='center'><%= msg %></p>
        <% end %>
      </div>

      <script>
        function openLogin() {
          document.getElementById("loginSidenav").style.width = "210px";
        }

        function closeLogin() {
          document.getElementById("loginSidenav").style.width = "0";
        }
      </script>
        <br>

    </nav>
    <%= yield %>
  </body>
</html>
