<!DOCTYPE html>
<html>
  <head>
    <title>DelongDev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav align='center' class="master_nav">
        <h1>Phil DeLong</h1>
        <span class="pure-g">
        <div class="pure-u-1-4"><%= link_to "Home", "/"%></div> || 
        <div class="pure-u-1-4"><%= link_to "Projects", "/projects"%></div> || 
        <div class="pure-u-1-4"><%= link_to "Career", "/career"%></div> || 
        <div class="pure-u-1-4"><%= link_to "Education", "/education"%></div>
      </span>

      <div class='profile_image'>
        <%= link_to(image_tag("profile_pic.png", alt: "Profile Image"), "/") %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
